# Python environment
.venv/
__pycache__/
*.pyc

# Database & Secrets
.env
chroma_langchain_db

# OS files
.DS_Store
Thumbs.db

# Working notebooks
notebooks/

# Others
data/aia_ci_starter_policy.pdf
documentation/